/* font-family  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

:root {
    --primary-color: #ec1f55;
    --text-color: #333;
    --color-white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    background-color: #d3d3d3;
}


.music-app {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
}

.btn-toggle-play .ion-pause,
.playing .btn-toggle-play .ion-play {
    display: none;
}

.playing .btn-toggle-play .ion-pause {
    display: block;
}

.music-app-top {
    text-align: center;
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 15px;
    margin: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.music-app-top .header h4 {
    font-size: 20px;
    color: var(--primary-color);
}

.music-app-top .header h3 {
    font-size: 25px;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.music-app-top .cd {
    display: flex;
    margin: 0 auto;
    width: 200px;
}

.music-app-top .cd .cd-thumb {
    position: relative;
    padding-top: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 50%;
}

.cd.active .cd-thumb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--text-color);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: .5;
}


.cd.active .load-song {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cd.active .load-song .line {
    display: inline-block;
    width: 7px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--color-white);
}

.cd.active .load-song .line:nth-last-child(1) {
    animation: loadingSong 1.5s 1s infinite;
}

.cd.active .load-song .line:nth-last-child(2) {
    animation: loadingSong .7s 0.2s infinite;
}

.cd.active .load-song .line:nth-last-child(3) {
    animation: loadingSong .7s 0s infinite;
}

.music-app-top .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.music-app-top .control .btn {
    font-size: 17px;
    color: var(--text-color);
    cursor: pointer;
}

.music-app-top .btn-toggle-play {
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.music-app-top .btn-toggle-play i {
    color: var(--color-white);
}

.music-app-top .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    opacity: .7;
    background-color: #d3d3d3;
    border-radius: 10px;
    outline: none;
    transition: opacity .3s;
}

.music-app-top .progress::-webkit-slider-thumb {
    background-color: var(--primary-color);
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
}

.music-app-top .control .btn-random.active,
.music-app-top .control .btn-repeat.active {
    color: var(--primary-color);
}

/* Time song */
.time-song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.time-song span {
    font-size: 13px;
    font-weight: 500;
}

/* music-app-bottom */
.music-app-bottom {
    margin-top: 475px;
}

.playlist .song {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.playlist .song.active {
    background-color: var(--primary-color);
    color: var(--color-white);
}

.song:active {
    opacity: .8;
}

.song .body {
    flex: 1;
    padding: 0 15px;
}

.playlist .thumb {
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 50%;
}

.cd.active {
    animation: soundBeats 1.2s infinite;
}

@keyframes soundBeats {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(0deg) scale(1.02);
    }

    45% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes loadingSong {
    0 {
        height: 15px;
    }

    50% {
        height: 35px;
    }

    100% {
        height: 15px;
    }
}

/* Mobile */
@media (max-width: 756px) {
    .music-app-bottom {
        padding: 0 10px;
    }
}